@import 'base/maps';
@import 'base/extend';
@import 'base/mixins';
@import 'components/images';
@import 'components/footer';
@import 'components/navbar.scss';

main {
    margin-top: 50px;
}

.top-buffer {
    margin-top: 20px;
}

body {
    background-image: url("../media/Peyoteback.jpg");
}

